.header {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid white;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.link {

}

.link:hover {
    color: #22d3ee;
}
